body {
    font-family: "Inter", sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }

  .navbar {
    background-color: #343a40;
    padding: 10px 15px;
  }
  .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  .navbar-brand:hover {
    color: #fff;
    text-decoration: none;
  }
  .navbar-brand span {
    color: #e07b12;
  }
  .navbar-buttons {
    display: flex;
    gap: 10px;
  }
  .btn-3d {
    border-radius: 20px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  .btn-3d:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  .slider-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    background-color: #343a40;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
  }

  .slider {
    display: flex;
    gap: 20px;
    animation: slide 15s linear infinite;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .slider-item {
    display: inline-block;
    background-color: #444;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 150px;
    flex-shrink: 0;
    font-size: 0.8rem;
  }

  .slider-item img {
    max-width: 30px;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 50%;
    border: 1px solid #e07b12;
    padding: 5px;
    background-color: #fff;
  }

  .slider-item a {
    text-decoration: none;
    color: #e07b12;
  }

  .slider-item a:hover {
    color: #ffbe0b;
  }

  .slider-container p {
    font-size: 1.1rem;
    color: orange; 
    margin-bottom: 10px; 
  }

  .hero {
    background: #343a40;
    color: #fff;
    padding: 5px 5px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .hero h1 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 2px;
  }
  .hero p {
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  .table {
    margin-top: 20px;
    border-collapse: collapse;
  }
  .table th {
    background-color: #444;
    color: #e07b12;
  }

  table td {
    border: none; /* Removes the inner borders */
  }

  .table tbody tr:hover {
    background-color: rgba(224, 123, 18, 0.1);
  }
  .crypto-logo {
    width: 32px;
    height: 32px;
  }

  .pagination .page-item.active .page-link {
    background-color: #e07b12;
    border-color: #e07b12;
  }

  footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
    font-size: 0.9rem;
  }