<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${details.name} + ' Details'">Coin Details</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/nav.css}" />

    <style>
      body {
        background-color: #1a1a2e;
        color: #e4e4e4;
        font-family: Arial, sans-serif;
      }
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 40px;
      }
      .header-left {
        display: flex;
        align-items: center;
      }
      .header-left img {
        border-radius: 50%;
        margin-right: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      .header-left h1 {
        font-size: 2.5rem;
        font-weight: bold;
        color: #ffbe0b;
        margin: 0;
      }
      .header-right {
        display: flex;
        gap: 10px;
      }
      .metrics-container,
      .description-card,
      .social-insights,
      .sentiment-scores,
      .card {
        background-color: #404040;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }
      .metrics-container h5 {
        color: #ffbe0b;
        font-weight: bold;
      }
      .metrics-container p,
      .description-card p {
        font-size: 1.1rem;
      }
      .description-card {
        margin-bottom: 20px;
      }
      .description-card h4 {
        color: #ffbe0b;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .table {
        margin-top: 20px;
        border-radius: 10px;
        overflow: hidden;
      }
      .table thead th {
        background-color: #404040;
        color: #ffbe0b;
      }
      .table tbody tr:hover {
        background-color: #343a40;
      }
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        padding: 10px;
      }
      .news-card img {
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="container-fluid">
        <a
          class="navbar-brand"
          th:href="@{/user(username=${username ?: 'defaultUsername'})}"
        >
          Coin<span>Radar</span>
        </a>
        <div class="navbar-buttons">
          <button
            id="newsButton"
            class="btn btn-3d btn-outline-light me-2"
            onclick="navigateToNews()"
          >
            Latest News
          </button>
          <button
            id="watchlistButton"
            class="btn btn-3d btn-outline-warning me-2"
            onclick="navigateToWatchlist()"
          >
            My Watchlist
          </button>
          <a
            th:href="@{/user(username=${username ?: 'defaultUsername'})}"
            class="btn btn-3d btn-outline-danger"
          >
            Back
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <!-- Header Section -->
      <div class="header">
        <!-- Left Section: Coin Logo and Name -->
        <div class="header-left d-flex align-items-center">
          <img
            th:src="${details.image.large}"
            alt="Coin Logo"
            style="width: 70px; height: 70px"
          />
          <h1 th:text="${details.name}" class="me-3">Coin Name</h1>
          <button
            class="btn btn-outline-primary"
            th:data-id="${details.id}"
            th:data-name="${details.name}"
            th:data-symbol="${details.symbol}"
            th:data-price="${details.market_data.current_price.usd}"
            th:data-marketcap="${details.market_data.market_cap.usd}"
            th:data-change="${details.market_data.price_change_percentage_24h}"
            th:data-logo="${details.image.large}"
            onclick="addToWatchlist(event)"
          >
            Add to Watchlist
          </button>
        </div>
      </div>

      <!-- TradingView Widget BEGIN -->
      <div
        class="tradingview-widget-container"
        style="height: 100%; width: 100%"
      >
        <div
          class="tradingview-widget-container__widget"
          style="height: calc(100% - 32px); width: 100%"
        ></div>
        <div class="tradingview-widget-copyright">
          <a
            href="https://www.tradingview.com/"
            rel="noopener nofollow"
            target="_blank"
            ><span class="blue-text">Track all markets on TradingView</span></a
          >
        </div>
        <script
          type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js"
          async
        >
            {
            "autosize": true,
            "symbol": "BINANCE:[[${symbol}]]USDC",
            "interval": "D",
            "timezone": "exchange",
            "theme": "dark",
            "style": "3",
            "hide_top_toolbar": true,
            "save_image": false,
            "locale": "en",
            "calendar": false,
            "support_host": "https://www.tradingview.com"
          }
        </script>
      </div>
      <!-- TradingView Widget END -->

      <!-- Description Section -->
      <div class="description-card position-relative">
        <h4>Description</h4>
        <p
          th:if="${details.description.en}"
          th:text="${details.description.en}"
        >
          Coin Description
        </p>
        <a
          th:href="${details.links.homepage[0]}"
          target="_blank"
          class="btn btn-primary mt-3"
        >
          Visit Official Website
        </a>
      </div>

      <!-- Key Metrics -->
      <div class="metrics-container row text-center my-4">
        <div class="col-md-3">
          <h5>Current Price</h5>
          <p th:text="'$' + ${details.market_data.current_price.usd}">
            Current Price
          </p>
        </div>
        <div class="col-md-3">
          <h5>Market Cap</h5>
          <p
            th:text="'$' +
          ${#numbers.formatDecimal(details.market_data.market_cap.usd, 0, 'COMMA',
          0, 'POINT')}"
          >
            Market Cap
          </p>
        </div>
        <div class="col-md-3">
          <h5>Total Supply</h5>
          <p
            th:text="
          ${#numbers.formatDecimal(details.market_data.total_supply, 0, 'COMMA',
          0, 'POINT')}"
          >
            Total Supply
          </p>
        </div>
        <div class="col-md-3">
          <h5>24h Volume</h5>
          <p
            th:text="'$' + ${#numbers.formatDecimal(details.market_data.total_volume.usd, 0, 'COMMA', 0, 'POINT')}"
          >
            24h Volume
          </p>
        </div>
      </div>

      <div class="row my-4">
        <!-- Social Insights -->
        <div class="col-md-6">
          <div class="social-insights p-3 rounded text-light">
            <h3 class="text-warning">Social Insights</h3>
            <ul class="list-unstyled">
              <li class="d-flex align-items-center mb-2">
                <img
                  src="https://img.icons8.com/color/48/twitter--v1.png"
                  alt="Twitter"
                  style="width: 30px; height: 30px"
                  class="me-2"
                />
                X Followers:
                <span
                  class="ms-auto"
                  th:text="${details.community_data.twitter_followers}"
                  >0</span
                >
              </li>
              <li class="d-flex align-items-center">
                <img
                  src="https://img.icons8.com/color/50/telegram-app.png"
                  alt="Telegram"
                  style="width: 30px; height: 30px"
                  class="me-2"
                />
                Telegram Users:
                <span
                  class="ms-auto"
                  th:text="${details.community_data.telegram_channel_user_count}"
                  >0</span
                >
              </li>
            </ul>
          </div>
        </div>

        <!-- Community Sentiment -->
        <div class="col-md-6">
          <div class="sentiment-scores p-3 rounded text-light">
            <h3 class="text-warning">Community Sentiment</h3>
            <p class="d-flex align-items-center mb-2">
              <img
                src="https://img.icons8.com/ios-filled/50/00ff00/thumb-up.png"
                alt="Positive Votes"
                style="width: 30px; height: 30px"
                class="me-2"
              />
              Positive Votes:
              <span
                class="ms-auto"
                th:text="${details.sentiment_votes_up_percentage} + '%'"
                >0%</span
              >
            </p>
            <p class="d-flex align-items-center">
              <img
                src="https://img.icons8.com/ios-filled/50/ff0000/thumbs-down.png"
                alt="Negative Votes"
                style="width: 30px; height: 30px"
                class="me-2"
              />
              Negative Votes:
              <span
                class="ms-auto"
                th:text="${details.sentiment_votes_down_percentage} + '%'"
                >0%</span
              >
            </p>
          </div>
        </div>
      </div>
      <!-- News Section -->
      <div class="row justify-content-center">
        <div
          class="col-md-4"
          th:each="news, iterStat : ${articles}"
          th:if="${iterStat.index < 3}"
        >
          <div class="card mb-3" style="height: 100%">
            <img
              th:src="${news.imageUrl}"
              class="card-img-top"
              th:alt="${news.title}"
              style="height: 150px; object-fit: cover"
            />
            <div class="card-body">
              <h5 class="card-title" th:text="${news.title}">News Title</h5>
              <p class="card-text text-truncate" th:text="${news.body}">
                News Body
              </p>
              <a th:href="${news.url}" target="_blank" class="btn btn-primary"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Markets Section -->
      <h3 class="text-center my-4" style="color: #ffbe0b">Markets</h3>
      <div class="table-responsive">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>Exchange</th>
              <th>Pair</th>
              <th>Price</th>
              <th>Volume</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="market : ${markets.tickers}">
              <td th:text="${market.market.name}">Exchange</td>
              <td th:text="${market.base + '/' + market.target}">Pair</td>
              <td th:text="'$' + ${market.last}">Price</td>
              <td
                th:text="'$' + ${#numbers.formatDecimal(market.volume, 0, 'COMMA', 2, 'POINT')}"
              >
                Volume
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Footer -->
    <footer class="absolute bottom-4 text-xs text-gray-400 justify-center">
      <p>© 2024 CoinRadar. All rights reserved.</p>
      <p>
        Data powered by:
        <a href="https://www.coingecko.com" target="_blank">
          <img
            src="https://www.coingecko.com/logo.png"
            alt="CoinGecko"
            style="height: 20px; margin-right: 10px"
          />
        </a>
        <a href="https://www.cryptocompare.com" target="_blank">
          <img
            src="https://www.cryptocompare.com/media/20564/cryptocompare-logo.png"
            alt="CryptoCompare"
            style="height: 20px; margin-right: 10px"
          />
        </a>
        <a href="https://www.tradingview.com" target="_blank">
          <img
            src="https://www.tradingview.com/static/images/logo.svg"
            alt="TradingView"
            style="height: 20px"
          />
        </a>
      </p>
    </footer>
    <script
      th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"
    ></script>
    <script>
      function navigateToNews() {
        window.location.href = "/user/news";
      }

      function navigateToWatchlist() {
        window.location.href = "/user/watchlist";
      }

      function addToWatchlist(event) {
        const username = "[[${username}]]";
        const cryptoId = event.target.getAttribute("data-id");
        const name = event.target.getAttribute("data-name");
        const symbol = event.target.getAttribute("data-symbol");
        const currentPrice = event.target.getAttribute("data-price");
        const marketCap = event.target.getAttribute("data-marketcap");
        const priceChangePercentage24h =
          event.target.getAttribute("data-change");
        const logoUrl = event.target.getAttribute("data-logo");

        // Make the POST request
        fetch("/user/watchlist/add", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: new URLSearchParams({
            username: username,
            id: cryptoId,
            name: name,
            symbol: symbol,
            currentPrice: currentPrice,
            marketCap: marketCap,
            priceChangePercentage24h: priceChangePercentage24h,
            logoUrl: logoUrl,
          }),
        })
          .then((response) => {
            if (response.ok) {
              alert("Added to watchlist!");
            } else {
              alert("Failed to add to watchlist.");
            }
          })
          .catch((error) => console.error("Error:", error));
      }
    </script>
  </body>
</html>
