<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sign Up</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/nav.css}" />
    <style>
      .main-container {
        margin-top: -50px;
        border-radius: 10px;
        padding: 40px; /* Larger padding */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>
  <body class="relative bg-gray-900 text-white">
    <!-- Navbar -->
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"> Coin<span>Radar</span> </a>
      </div>
    </nav>

    <!-- Main Container -->
    <div
      class="relative z-10 flex flex-col justify-center items-center h-screen text-center text-white px-4 main-container"
    >
      <!-- Welcome Message -->
      <header>
        <h1 class="text-5xl font-extrabold">Welcome!</h1>
        <p class="mb-8 text-lg px-6">Create an account to get started</p>
      </header>

      <!-- Register Card -->
      <div
        class="w-full max-w-md p-8 bg-gray-800 bg-opacity-90 rounded-lg shadow-lg"
      >
        <h2 class="mb-6 text-2xl font-semibold">Sign up</h2>

        <!-- Registration Form -->
        <form
          th:action="@{/signup}"
          th:object="${user}"
          method="post"
          class="flex flex-col items-center"
        >
          <!-- Username Field -->
          <div class="w-full mb-4">
            <input
              type="text"
              name="username"
              th:field="*{username}"
              class="w-full px-4 py-2 border border-gray-700 rounded bg-gray-900 text-white placeholder-gray-500"
              placeholder="Username"
              required
            />
            <!-- Username Validation Errors -->
            <div
              class="error text-red-500 text-sm mt-1"
              th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}"
            ></div>
            <div
              class="error text-red-500 text-sm mt-1"
              th:if="${duplicateUsernameError}"
              th:text="${duplicateUsernameError}"
            ></div>
          </div>

          <!-- Password Field -->
          <div class="w-full mb-4">
            <input
              type="password"
              name="password"
              th:field="*{password}"
              class="w-full px-4 py-2 border border-gray-700 rounded bg-gray-900 text-white placeholder-gray-500"
              placeholder="Password"
              required
            />
            <!-- Password Validation Errors -->
            <p
              class="error text-red-500 text-sm mt-1"
              th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}"
            ></p>
          </div>

          <!-- Submit Button -->
          <button
            type="submit"
            class="w-full py-2 mb-4 bg-blue-600 hover:bg-blue-500 rounded text-white font-bold transition duration-300"
          >
            Sign up
          </button>
        </form>

        <!-- Links for Login -->
        <div class="flex justify-between w-full text-sm mt-4">
          <span class="text-white">Already have an account?</span>
          <a href="/login" class="text-blue-400 hover:underline">Login</a>
        </div>
      </div>

      <!-- Footer -->
      <footer class="absolute bottom-4 text-xs">
        <p>© 2024 CoinRadar. All rights reserved.</p>
        <p>
          Data powered by:
          <a href="https://www.coingecko.com" target="_blank">
            <img
              src="https://www.coingecko.com/logo.png"
              alt="CoinGecko"
              style="height: 20px; margin-right: 10px"
            />
          </a>
          <a href="https://www.cryptocompare.com" target="_blank">
            <img
              src="https://www.cryptocompare.com/media/20564/cryptocompare-logo.png"
              alt="CryptoCompare"
              style="height: 20px; margin-right: 10px"
            />
          </a>
          <a href="https://www.tradingview.com" target="_blank">
            <img
              src="https://www.tradingview.com/static/images/logo.svg"
              alt="TradingView"
              style="height: 20px"
            />
          </a>
        </p>
      </footer>
    </div>
  </body>
</html>
